.ipynb_checkpoints
.vscode/

composite_analysis/figures/k06_composites/
composite_analysis/*.nc

data/jet_stream/*

!data/jet_stream/jet-speed-era5-standard-region-runs/
!data/jet_stream/jet-speed-era5-standard-region-runs/*.csv

!data/jet_stream/jet-latitude-era5-standard-region-runs/
!data/jet_stream/jet-latitude-era5-standard-region-runs/*.csv

data/geopotential/zg_anom_79to23Mar.nc