.ipynb_checkpoints
.vscode/

composite_analysis/figures/k06_composites/
composite_analysis/*.nc
composite_analysis/compare_other_jet_algorithms.ipynb
composite_analysis/figures/compare_jet_cores*

data/jet_stream/*

!data/jet_stream/jet-speed-era5-standard-region-runs/
!data/jet_stream/jet-speed-era5-standard-region-runs/*.csv

!data/jet_stream/jet-latitude-era5-standard-region-runs/
!data/jet_stream/jet-latitude-era5-standard-region-runs/*.csv
!data/jet_stream/DOWNLOAD_UV_ERA5_RUN_JSMETRICS

data/geopotential/zg_anom_79to23Mar.nc